* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}
.col-body{
    width: 50%;
}

/*header*/
.header-text {
    height: 36px;
    color: #FFFFFF;
    text-align: center;
    background: #000F9F;
    padding: 9px 0;
}

.header-block {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: black;
    text-transform: uppercase;
    margin-right: 10px;
}

.header-icon {
    color: black;
    margin-left: 15px;
}


/*header*/
/*hero*/
.hero {
    display: flex;
    justify-content: flex-end;

    height: 100vh;
    background: url("../images/hero/Rectangle.png");

}

.hero-content-title {
    font-size: 66px;
    line-height: 80px;
    color: white;
    font-weight: normal;
    letter-spacing: 3.2px;
    margin-top: 45px;
    margin-right: 100px;
}

.hero-content-text {
    font-size: 20px;
    color: white;
    margin: 38px 0 35px;
}

.hero-content-button {
    font-size: 16px;
    padding: 12px 24px;
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    transition: .6s;
}

.hero-content-button:hover {
    background: orange;
    transition: .6s;
}

/*hero*/


/*new*/

.new-block{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.new-title {
    font-size: 55px;
    font-weight: normal;
}
.new-button{
    background: black;
    color: white;

}
.new-desc{
    font-size: 13px;
    margin: 10px;
}
.new-button{
    background: black;
    color: white;
    font-size: 16px;
    padding: 18px 91px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: .6s;
}
.new-button:hover {
    background: orange;
    transition: .6s;
}



/*new*/
/*block*/
.block, .block-link {
    display: flex;
    justify-content: space-between;
}
/*block*/
/*rectrec*/
.rectrek{
    padding-top: 70px;
}
.rectrek-title {

    font-size: 40px;
}

.rectrek-text {
    margin: 30px 0;
    font-size: 26px;
}
.rectrek-button{
    background: black;
    border-radius: 31px;
    border: none;
    padding: 21px 19px;
    color: white;
    cursor: pointer;
    transition: .6s;
}
.rectrek-button:hover {
    background: orange;
    transition: .6s;
}
/*rectrec*/

.col-basic {
    width: 50%;
}
/*trail*/
.trail{
    padding-top: 70px;
}

.trail-title{
    font-size: 45px;
    padding-left: 50px;
}

.trail-text{
    font-size: 27px;
    padding-left: 50px;
    margin: 30px 0;
}
.trail-button{
    background: black;
    border-radius: 31px;
    border: none;
    padding: 21px 19px;
    color: white;
    cursor: pointer;
    transition: .6s;
    margin-left: 50px;
}
.trail-button:hover {
    background: orange;
    transition: .6s;
}
/*trail*/

/*outside*/
.outside{
    padding: 70px 0;
}
.outside-block{
    display: flex;
    align-items: center;
    height: 100%;
}
.outside-title {

    font-size: 40px;
}

.outside-text {
    font-size: 26px;
    margin: 30px 0;
}
.outside-button{
    background: black;
    border-radius: 31px;
    border: none;
    padding: 21px 19px;
    color: white;
    cursor: pointer;
    transition: .6s;

}
.outside-button:hover {
    background: orange;
    transition: .6s;
}
/*outside*/


/*shop*/
.shop-img{
    width: 100%;
}

/*shop*/

/*description*/
.text-description{
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 3.2px;

    margin-top: 90px;
}
.hashtag-description{
    font-size: 50px;
    font-weight: bold;

}
.story-description{
    margin-top: 30px;
    font-size: 18px;
}

/*descraption*/
/*recreationalist*/
.recreationalist{
    padding: 70px 0;
}
.recreationalist-block{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.recreationalist-title {
    font-size: 55px;
    font-weight: normal;

}
.recreationalist-button{
    background: black;
    color: white;
    font-size: 16px;
    padding: 18px 91px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
    transition: .6s;
}
.recreationalist-button:hover {
    background: orange;
    transition: .6s;
}
.recreationalist-desc{
    font-size:13px;
    margin: 5px;
}
.recreationalist-name{
    font-size: 15px;
}

/*recreationalist*/







